.files-container{
    width: 600px;
}

.files-container .file-container{
    background-color: wheat;
    display:inline-block;
    padding: 5px;
    margin: 5px;
}

.files-container .file-container .file-common {
    display: inline-block;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    height: 20px; /* todo: hieght of line of text */
    vertical-align: middle;
}
.files-container .file-container .file-name{

    max-width: 100px;
    text-align:left;
}

.files-container .file-container .file-remove{

    width:20px;
    text-align: center;
}

.files-container .file-container .file-remove:hover{
    cursor: pointer;
}